.text-center {
    text-align: center;
}

table {
    border-collapse: collapse;
}

table tr th, table tr td {
    padding: 5px 10px;
}

img {
    width: 100px;
    height: 100px;
}

.student-list-container {
    padding: 10px;
}

.p-25 {
    padding: 25px;
}

.back-to-home {
    font-size: 14px;
    text-decoration: underline;
}

.student-link {
    cursor: pointer !important;
}
